<footer class="site-footer">
  <div class="container site-footer__inner">
    <p class="site-footer__brand">
      Fira Tots Sants Cocentaina 2026 - PEC2 Cristina
    </p>

    <ul class="site-footer__links">
      <li><a href="./index.html">Portada</a></li>
      <li><a href="./ponentes.html">Ponentes</a></li>
      <li><a href="./articulo.html">Artículo</a></li>
      <li><a href="./contacto.html">Contacto</a></li>
    </ul>

    <ul class="site-footer__links">
      <li>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
    </ul>
  </div>
</footer>
