<header class="site-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="./index.html">
        <img
          src="./assets/images/logo1.png"
          alt="Fira Tots Sants"
          class="site-logo"
        />
        <span class="ms-2">Fira Tots Sants</span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavbar"
        aria-controls="mainNavbar"
        aria-expanded="false"
        aria-label="Abrir navegación"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">
              <i class="fa-solid fa-house"></i> Portada
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./ponentes.html">
              <i class="fa-solid fa-users"></i> Ponentes
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./articulo.html">
              <i class="fa-solid fa-newspaper"></i> Artículo
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./contacto.html">
              <i class="fa-solid fa-envelope"></i> Contacto
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
